<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Less</title>
    <style>
        label {
            width: 50px;
            height: 50px;
            display: table-cell;
            position: relative;
            margin-bottom: 0;
            border: 1px solid black;
        }
        input + span {
            position: absolute;
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            background-color: red;
            cursor: pointer;
        }
        input:checked + span {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <div class="cont" style="width: 1000px; height: 1000px; position: relative; margin: 0; line-height: 0.629971;">
        {% for i in bloks %}
            <div class="block" cus_attrib="attrib" style="width: 50px;height: 50px; display: inline-block; margin-right: -4px; padding: 0;">
                <label><input id="blok" type="checkbox" name="k"><span>{{ i }}</span></label>
            </div>
        {% endfor %}
    </div>
    <div class="form-group row">
        <div class="col-xs-5">
            <button>Отправить</button>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var element_button = document.getElementsByTagName('button');
            var element_block = document.getElementsByClassName('block');
            element_button[0].addEventListener('click', function (event) {
                console.log(element_block[0].getAttribute('cus_attrib'));
                console.log(element_block[0].innerHTML);
                console.log(element_block);
            })
        });
</script>
</body>
</html>