<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    <a href="/">Назад</a>
    <p>Вы представили следующие данные: </p>
    <table>
    <tr><td>Фраза: </td><td>{{ the_phrase }}</td></tr>
    <tr><td>Буквы: </td><td>{{ the_letters }}</td></tr>
    </table>
    <p>Когда "{{ the_phrase }}" выполняет поиск "{{ the_letters }}", возвращаются следующие результаты: </p> <h3>{{ results }}</h3>
</body>
</html>