<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Статистика</title>
</head>
<body>
    <a href="/">Назад</a>
    <h1>Статистика поиска</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Слова</th>
          <th>Найденные буквы</th>
        </tr>
      </thead>
      <tbody>
        {% for i in rows %}
            <tr>
                <th scope="row">{{ id }}</th>
                <td>{{ slova }}</td>
                <td>{{ byk }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>