<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Карта</title>
    <style>
        .parent{
            width: 1000px;
            height: 1000px;
            background-color: antiquewhite;
        }
        .parent>div{
            width: 50px;
            height: 50px;
            float: left;
            background: aqua;
            box-shadow: inset -1px -1px 0 0 black,inset 1px 1px 0 0 black;
        }
    </style>
    </head>
 <body>
    <div class="parent">
        {{ block }}
    </div>
 </body>
</html>